#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  justify-items: left;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
.book-card {
  border: 0.1rem solid #e20a0a;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
}
.book-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.book-actions {
  display: flex;
  gap: 0.45rem;
  margin-top: 0.5rem;
  justify-content: center;
  /*flex-wrap: wrap;*/
}
.book-description {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  text-indent: 2em;
  text-align: left;
  color: aliceblue;
  width: 100%;
}
.book-featured {
  display: block;
  background-color: red;
  border-radius: 8px;
}
.book-featured::after {
  content: "Featured";
  color: white;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.navbar {
  display: flex;
  gap: 1rem;
  justify-content: right;
  margin-bottom: 2rem;
  background-color: rgb(96, 80, 244);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}
.navbar a {
  font-weight: 500;
  color: #f8f8f9;
  text-decoration: inherit;
}
.navbar a:hover {
  color: #535bf2;
}
